<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="Krishna Teja G S">
  <meta name="csrf-token" content="SybQfkIn3LowOH88TyQyUo1kDlgWMmih8Wq1mc51">
  <meta name="theme-color" content="#c25054" />
  <link rel="manifest" href="/manifest.json">
  <meta property="og:url" content="https://xplore.co.in/jobs" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Jobs " />
  <meta property="og:description" content="" />
  <meta property="og:image" content="" />
  <title>Jobs </title>

  <link rel="shortcut icon" href="https://xplore.co.in/favicon_xplore.ico" />

  <link href="/css/style.css" rel="stylesheet">


</head>

<body>
  <div id="app" style=" min-height: 90vh;
    display: flex;
    flex-direction: column;">

    <div class="wrapper-bg" style="background: white">
      <div class="nav-bg p-2 " style="background: #fff;">
        <div class="container p-md-0">
          <div id="app">
            <nav class="navbar navbar-expand-lg navbar-light ">


              <a class="navbar-brand abs" href="https://xplore.co.in" aria-label="Homepage">
                <img src="https://xplore.co.in/img/xplore.png " width="100px" class="ml-md-1" alt="Xplore logo "
                  type="image/png">
              </a>

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav" style="font-weight: bold">
                <ul class="navbar-nav ">

                </ul>
                <ul class="navbar-nav ml-auto mt-4 mt-lg-0">

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="fa efas fa-angle-right"></i> Products <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="hiring">
                        <i class="fa fas fa-youtube-play"></i> Hiring Assessments
                      </a>
                      <a class="dropdown-item" href="jobboard">
                        <i class="fa fa-ravelry"></i> Job Board
                      </a>
                      <a class="dropdown-item" href="xpc">
                        <i class="fa fa-bars"></i> Xplore Placement Club</a>
                      </a>


                    </div>



                  <li class="mr-3 "><a class="nav-link " href="course" aria-label="Hir"><i
                        class="fa efas fa-angle-right"></i> Courses</a></li>

                  <li class="mr-3 "><a class="nav-link " href="test" aria-label="Hir"><i
                        class="fa efas fa-angle-right"></i> Tests</a></li>

                  <li class="mr-3 "><a class="nav-link " href="job" aria-label="Hir"><i
                        class="fa efas fa-angle-right"></i> Jobs</a></li>






                  <!--
                        <li class="mr-3 "><a class="nav-link " href="https://xplore.co.in/tracks"><i class="fa fa fa-spotify"></i> Tracks</a></li>   -->












                  <!-- Authentication Links -->
                  <li class="mr-2"><a class="nav-link " href="https://xplore.co.in/login" aria-label="Login page"><i
                        class="fa fa-sign-in"></i> Login</a></li>
                  <li class="mr-2"><a class="nav-link " href="https://xplore.co.in/register"
                      aria-label="Registration page"><i class="fa fa-user-plus"></i> Register</a></li>

                </ul>

              </div>
            </nav>
          </div>
        </div>
      </div>
      <div class="line" style="padding:1px;background:#f8f8f8"></div>
      <div>



        <div class="banner">
          <img src="https://xplore.co.in/img/jobs.jpg" class=" w-100" />
        </div>

        <div class="bg-light ">
          <div class="container ">
            <div class="row">
              <div class="col-12 col-md-9 mb-5">
                <div class="bg-white p-4 p-md-5 mb-4" style="margin-top:-50px">
                  <h1>Job Openings</h1>
                </div>
                <div class="">
                  <div id="search-items">

                    <% jobs.forEach(element=> { %>

                      <div class="bg-white p-4 p-md-5 mb-4">
                        <div class="media ">
                          <div class="mr-4 d-none d-md-block" style="width:100px">
                            <img class="mr-3 w-100"
                              src="https://s3-xplore.s3.ap-south-1.amazonaws.com/post/job_31289.png"
                              alt="Genpact is hiring 2020-2024 graduates (freshers and experienced) – Hindi ( Voice Process )">
                          </div>
                          <div class="media-body">
                            <div class='mb-4'>
                              <a href="https://xplore.co.in/jobs/31289">
                                <h2 class="mt-0">
                                  <%= element.title %>
                                    <span class="badge badge-warning float-right">open</span>
                                </h2>
                              </a>
                              <%= element.desc %>
                            </div>
                            <div class="mb-4">
                              <div class="row mb-2">
                                <div class="col-5 col-md-4"><i class="fa fa-map-marker"></i>&nbsp; Locations</div>
                                <div class="col-7 col-md-8">
                                  <%= element.location %>
                                </div>
                              </div>

                              <div class="row mb-2">
                                <div class="col-5 col-md-4"><i class="fa fa-university"></i>&nbsp; Education</div>
                                <div class="col-7 col-md-8">BTECH, DIPLOMA, MTECH, DEGREE, CSE, IT, EEE, MECH, ECE,
                                  CIVIL, BCOM, BSC, BCA, BBA, MBA, MCOM, MCA, MSC</div>
                              </div>

                              <div class="row mb-2">
                                <div class="col-5 col-md-4"><i class="fa fa-calendar"></i>&nbsp; Year<span
                                    class="d-none d-md-inline"> of passing</span></div>
                                <div class="col-7 col-md-8">2020, 2021, 2022, 2023, 2024</div>
                              </div>

                              <div class="row mb-2">
                                <div class="col-5 col-md-4"><i class="fa fa-graduation-cap"></i>&nbsp; Acad<span
                                    class="d-none d-md-inline">emic</span>s</div>
                                <div class="col-7 col-md-8">55% & above</div>
                              </div>

                              <div class="row mb-2">
                                <div class="col-5 col-md-4"><i class="fa fa-flickr"></i>&nbsp; Salary</div>
                                <div class="col-7 col-md-8">
                                  NOT DISCLOSED
                                </div>
                              </div>
                            </div>

                            <a href="https://xplore.co.in/jobs/31289" class="btn btn-primary mb-4">View details</a>

                          </div>
                        </div>
                      </div>


                      <% }); %>


                        <nav aria-label="Page navigation  " class="card-nav mt-3 ">
                          <ul class="pagination">

                            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>





                            <li class="page-item active"><span class="page-link">1</span></li>
                            <li class="page-item"><a class="page-link" href="https://xplore.co.in/jobs?page=2">2</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="https://xplore.co.in/jobs?page=3">3</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="https://xplore.co.in/jobs?page=4">4</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="https://xplore.co.in/jobs?page=5">5</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="https://xplore.co.in/jobs?page=6">6</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="https://xplore.co.in/jobs?page=7">7</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="https://xplore.co.in/jobs?page=8">8</a>
                            </li>

                            <li class="page-item disabled"><span class="page-link">...</span></li>





                            <li class="page-item"><a class="page-link" href="https://xplore.co.in/jobs?page=11">11</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="https://xplore.co.in/jobs?page=12">12</a>
                            </li>


                            <li class="page-item"><a class="page-link" href="https://xplore.co.in/jobs?page=2"
                                rel="next">&raquo;</a></li>
                          </ul>

                        </nav>
                  </div>
                </div>

              </div>
              <div class="col-12 col-md-3">

                <div class="mt-4">


                  <form class="w-100" method="GET" action="https://xplore.co.in/exam">



                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
  <div class="bg-dark d-print-none" style=" margin: auto 0;">
    <footer class="text-light footer">
      <div class="container py-3">


        <div class="p-3"></div>
        <div class="row d-print-none">
          <div class="col-6 col-md">
            <div class="display-3">
              XPLORE
            </div>
          </div>
          <div class="col-6 col-md">
            <h5>Xplore</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="https://xplore.co.in/about-corporate">About</a></li>
              <li><a class="text-muted" href="https://xplore.co.in/productpage">Products</a></li>
              <li><a class="text-muted" href="https://xplore.co.in/contact">Contact</a></li>
            </ul>
          </div>


          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="https://xplore.co.in/course">Courses</a></li>
              <li><a class="text-muted" href="https://xplore.co.in/test">Tests</a></li>
              <li><a class="text-muted" href="https://xplore.co.in/blog">Blog</a></li>

            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>More</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="https://xplore.co.in/terms-corporate">Terms</a></li>
              <li><a class="text-muted" href="https://xplore.co.in/privacy">Privacy</a></li>
              <li><a class="text-muted" href="https://xplore.co.in/refund">Refund and Cancellation</a></li>
              <li><a class="text-muted" href="https://xplore.co.in/disclaimer">Disclaimer</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <div class="">
              <div class="mb-2">
                <a class=" text-muted mr-2 mr-md-3" rel="noreferrer" target="_blank"
                  href="https://www.facebook.com/xplore.co.in/"><i class="fa fa-facebook-square fa-2x"
                    aria-label="facebook page"></i></a>
              </div>

              <div class="mb-2">
                <a class=" text-muted " rel="noreferrer" target="_blank" href="https://www.instagram.com/xplore.co.in/"
                  aria-label="xplore instagram page"><i class="fa fa-instagram fa-2x"></i></a>
              </div>
            </div>
          </div>


        </div>

        <div class="text-muted d-print-none">
          <hr>
          Copyright &copy; Xplore
        </div>
        <div class="text-muted d-none d-print-block">
          <img src="https://xplore.co.in/img/xplore.png" class="w-100 mb-4" style="max-width:80px;"
            alt="xplore logo white">
          <p>At Xplore, we make learning simple, interesting and effective. Our Industry-leading Campus Recruitment
            Module includes granular, and comprehensive courses in quantitative aptitude, verbal ability, logical
            reasoning, interview skills, programming concepts, and coding.</p>
          <p>Our resource pool of over 10,000 questions is custom-designed and curated to help you crack national
            recruitment tests conducted by TCS, Wipro, Infosys, Capgemini and more.</p>
          <p><a href="https://xplore.co.in">xplore.co.in</a></p>
          <hr>
          Copyright &copy; Xplore
          <hr>
        </div>
        <div class="p-4"></div>


      </div>
    </footer>
  </div>

</body>

</html>